.App {
  text-align: center;
  text-decoration: none;
}

.main-bg{
  height: 100px;
  padding-top: 300px;
  background-image: url('./img/banner.jpg');
  background-size: cover;
  background-position: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
