.mian-box {
  text-align: center;
}

.main-bg {
  content: url("../public/img/banner.jpg");
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.album-title {
  font-weight: 700;
  font-size: 20px;
}
